/* 
    Document   : CronFormStyle
    Created on : Jul 16, 2013, 12:05:18 PM
    Author     : Michael Hinojosa
    Description:
        Purpose of the stylesheet follows.
Styles for CronForm.php as part of the Installation page for Pro Edition Users
*/
div#cron-form-top {
    display: block;
}
div#top-form {
    padding-bottom: 10px;
}
div#cron-text-value {
    margin-left: 125px;
}
textarea.cron-form-textarea {
    max-width: 420px;
}
div#cron-form-value {
    padding-left: 125px;
}
div#cron-cmd-value {
    display: table-cell;
    padding-left: 26px;
}
div.cron-form-pair {
    display: table;
}
div.cron-form-label {
    float: left;
    display: table-cell;
}
div.cron-form-value {
    display: table-cell;
    position: relative;
    padding-left: 20px;
}
div.schedFormTitle {
    width: 100%;
}
div.simpleTitle {
    padding-bottom: 15px;
}
div.mainTitle {
    display: table;
    margin-top: -10px;
}
div.schedInputs {
    width: 120px;display: table-cell;margin-top: -50px;padding-bottom: 15px;
}
input#cron-ui-submit {
    position: relative;
    top: 7px;
    left: 450px;
    color: buttontext;
}
input#cron-ui-submit:hover {
    background-color: buttonhighlight;
}
div#cron-test-box {
    position: relative;
    padding-top: 15px;
    display: block;
    left: 350px;
}
div#cron-response-box {
    width: 200px;
    height: 100px;
    background: #f8f8f8;
    border: 1px solid #DDD;
}
div.ui-form-pair input.ui-radio {
    margin-left: -50px;
}
div#cron-bot {
    padding-bottom: 10px;
}
input#startCron {
    margin-top: 20px;
}