html, body {height:100%;margin:0;padding:0;}
body {background:#fff;}
div.width-constraint {position:relative;width:auto;min-width:760px;}
#header-body-container {min-height:100%;height:auto !important;height:100%;margin:0 0 -120px 0;}
/* Search Bar */
#search-bar {
	/* position:relative; */
	/* padding:3px 0 0 10px; */
}
#search-bar-title {
	display:block;
}
#search-bar form {float:right;margin-top:4px;}
#search-bar form .x2-button {
	float:right;
	margin:1px 0 0 5px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	padding: 5px 20px;
}
#search-bar-box {
	width:330px;
	margin:2px 0 0 0;
	padding:4px 5px;
	border:1px solid #ddd;
	background:#f0f0f0;
	font-size:12px;
	color:#aaa;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}
/* Main Menu */
#main-menu-bar { }
#main-menu-icon {
	display:block;
	background:url(../images/x2-mini-icon.png) center no-repeat;
	float:right;
	height:30px;
	width:30px;
	margin:0 0 0 3px;
}
#main-menu-notif {
	display:block;
	float:right;
	border-radius:			4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:          4px;
	-o-border-radius:		4px;
	background-color:white;
	padding:1.5px;
	height:25px;
	text-decoration:none;
	width:25px; 
	text-align:center;
	font-size:18px;
        margin:0 0 0 3px;
}
#main-menu-bar ul {
	list-style:none;
	margin:0;
	padding:0;
	display:block;
}
#main-menu-bar ul li {
	float:left;
	padding:0;
	margin:0;
	text-shadow:rgba(0,0,0,0.5) 0 1px 4px;
}

#user-menu {position:absolute;right:30px;} 
#main-menu-bar ul ul li {min-width:120px;}
#main-menu-bar ul a, #main-menu-bar ul span {
	color:#fff;
	display:block;
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	padding:0 10px;
	line-height:30px;
}
#main-menu-bar #more-menu span {
	cursor:pointer;
	padding-right:15px;
	margin-right:8px;
	background:url(../images/dropdown-arrow.png) transparent no-repeat center right;
}
#main-menu-bar ul a:hover, #main-menu-bar ul span:hover {text-decoration:underline;}
#main-menu-bar ul li.active {
	background:#fff;
	background:rgba(255,255,255,0.5);
	color:#fff;
	/* text-shadow:none; */
/* 	border:1px solid #fff;
	border-bottom:none; */
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
}
/* #main-menu-bar li.active a, #main-menu-bar li.active span {color:black;} */
/*Dropdown Menu*/
#main-menu-bar ul ul {
	visibility:hidden;
	position:absolute;
	z-index:1000;
	background:#fff;
	border:1px solid #999;
	background-color:#eee;

	border-radius:			0 4px 4px 4px;
	-moz-border-radius:		0 4px 4px 4px;
	-webkit-border-radius:	0 4px 4px 4px;
	-o-border-radius:		0 4px 4px 4px;

	clip:rect(1px, 1000px, 1000px, -10px);
	-moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}
#main-menu-bar ul ul.visible {visibility:visible;}
#main-menu-bar ul ul li {
	font-size:12px;
	float:none;
	padding:0 10px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
}
#main-menu-bar ul ul li:first-child {
	border-radius:			0 4px 0 0;
	-moz-border-radius:		0 4px 0 0;
	-webkit-border-radius:	0 4px 0 0;
	-o-border-radius:		0 4px 0 0;
}
#main-menu-bar ul ul li:last-child {
	border-radius:			0 0 4px 4px;
	-moz-border-radius:		0 0 4px 4px;
	-webkit-border-radius:	0 0 4px 4px;
	-o-border-radius:		0 0 4px 4px;
}
#main-menu-bar ul ul a{
	color:black;
	/* display:block; */
	padding-bottom:5px;
	white-space:nowrap;
	font-size:15px;
	text-decoration:none;
	line-height:24px;
	height:auto;
	text-shadow:none;
}
#main-menu-bar ul li:hover ul li:hover {background-color:#fff;/* #445566; */}
#main-menu-bar ul li:hover ul li:hover a {text-decoration:none;}
#main-menu-bar ul ul li.active {
	height:auto;
	margin:0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
}
/* End Dropdown Menu */

/* Submenu Bar */
#submenu-bar {
	clear:both;
	width:auto;
	padding:3px;
	background:#fff;
	background:rgba(255,255,255,0.5);
	border-bottom:1px solid #999;
}
#submenu-bar a.x2-button {
	float:right;
	margin:0 0 0 5px;
}
#submenu-bar ul {
	display:block;
	float:left;
	width:auto;
	overflow:auto;
	margin:0;
	padding:5px 0;
}
#submenu-bar li {
	display:block;
	float:left;
	border-right:1px solid #aaa;
	margin:0 5px 0 0;
	padding:0 5px 0 0;
}
#submenu-bar li:last-child {border-right:none;}

#submenu-bar li a {color:#000;text-decoration:none;font-size:14px;}
#submenu-bar li a:hover {color:#09F;text-decoration:underline;}
#submenu-bar li span {
	font-weight:bold;
}
#page-body {
	min-width:960px;
	margin:0;
	padding:10px 0 10px 0;
	background:#fff;
	border:none;
}
#page-body.no-widgets {min-width:760px;}
#page-body.no-widgets #content-container {padding-right:0;}
#page-body.no-widgets #sidebar-right {display:none;}
#page-body.no-widgets #content {margin:0;}

#sidebar-left-container {background:none;}
#sidebar-left {background:none;}
#flexible-content {min-height:0; padding-right:10px; overflow:auto; zoom:1;}
#sidebar-right {
	width:22%;
	padding:0;
	float:right;
	background:#fff;
}
#content-container {overflow:auto; zoom:1;}
#content {
	margin:0 10px 0 0;
	padding:0 0  0 0;
	background:#fff;
	overflow:hidden;
}
#content-fullscreen {
	position:relative;
	padding:0 10px 20px 10px;
	margin:0 auto;
}
#footer-push {clear:both;height:120px;}
#footer {
	position:relative;
	text-align:center;
	height:80px;
	padding-top:20px;
	padding-bottom:20px;
	color:#999;
	clear:both;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top, #000 0%, #2d2d2d 4%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(4%,#2d2d2d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}