#page {
	background:white;
	margin:8px auto 20px auto;
	padding-bottom:5px;
	position:relative;
	border:1px solid black;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
/* 	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

#page .container {background:#fff;}

/* Main Menu */
#main-menu-bar {
	background:/* url(../images/main-menu-bar.png) top left repeat-x */ #579100; /* 00728f */ 
	background:-webkit-gradient(linear, left top, left bottom, from(#729C00), to(#579100));
	background:-moz-linear-gradient(top,  #729C00,  #579100);
	/* background:url(../images/blue-bg.gif) green repeat center top; */
	height:36px;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	padding:0 3px 0 15px;
	border-bottom:1px solid black;
	position:relative;
	-moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3);
}
#main-menu-icon {
	display:block;
	background:url(../images/x2-mini-icon.png) center no-repeat;
	float:right;
	height:30px;
	width:30px;
	margin:5px 3px;
}
#main-menu-notif {
	display:block;
	float:right;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
	background-color:white;
	padding:2.5px;
	height:25px;
	text-decoration:none;
	width:25px;
	color:#579100; 
	text-align:center;
	font-size:18px;
	margin:5px 3px;
}
#main-menu-bar ul {
	list-style:none;
	margin:0;
	padding:0;
}
#main-menu-bar li {
	float:left;
	padding:0;
	margin:0;
	height:100%;
	text-shadow:rgba(0,0,0,0.5) 0 1px 4px;
}
#user-menu {position:absolute;right:32px;} 
#user-menu ul li {min-width:120px;}
#main-menu-bar ul a, #main-menu-bar ul span {
	color:white;
	display:block;
	font-size:18px;
	text-decoration:none;
	padding:0 10px;
	line-height:36px;
}
#main-menu-bar ul span {
	cursor:pointer;
	padding-right:15px;
	margin-right:8px;
	background:url(../images/dropdown-arrow.png) transparent no-repeat center right;
}
#main-menu-bar ul a:hover, #main-menu-bar ul span:hover {text-decoration:underline;}
#main-menu-bar li.active {
	position:relative;
	/* z-index:0; */
	background:white;
	height:37px;
	margin-bottom:-1px;
	text-shadow:none;
	
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	-o-border-radius:4px 4px 0 0;
	/* clip: rect(0px, 1000px, 10px, -100px); */
/* 	-moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.7);
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.7); */
}
#main-menu-bar li.active a, #main-menu-bar li.active span {color:black;}
/*Dropdown Menu*/
#main-menu-bar ul ul {
	visibility:hidden;
	position:absolute;
	z-index:1000;
	background:#ddd;
	border:1px solid #999;
	background-color:#eee;

	border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;

	clip:rect(1px, 1000px, 1000px, -10px);
	-moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}
#main-menu-bar ul ul.visible {visibility:visible;}
#main-menu-bar ul ul li {
	font-size:12px;
	float:none;
	padding:0 10px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
}
#main-menu-bar ul ul li:last-child {
	border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	-o-border-radius:0 0 3px 3px;
}
#main-menu-bar ul ul a{
	color:black;
	/* display:block; */
	padding-bottom:5px;
	white-space:nowrap;
	font-size:15px;
	text-decoration:none;
	line-height:24px;
	height:auto;
	text-shadow:none;
}
#main-menu-bar ul li:hover ul li:hover {background-color:#fff;/* #445566; */}
#main-menu-bar ul li:hover ul li:hover a {text-decoration:none;}
#main-menu-bar ul ul li.active {
	height:auto;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
}
/* End Dropdown Menu */

/* Submenu Bar */
#submenu-bar {
	z-index:2;
	position:relative;
	background:#fff;
	border-bottom:1px solid #ccc;
}
#submenu-bar ul {
	display:block;
	width:auto;
	overflow:auto;
	margin:0;
	padding:5px 15px;
}
#submenu-bar li {
	display:block;
	float:left;
	border-right:1px solid #aaa;
	margin:0 5px 0 0;
	padding:0 5px 0 0;
}
#submenu-bar li:last-child {border-right:none;}

#submenu-bar li a {color:#000;text-decoration:none;font-size:14px;}
#submenu-bar li a:hover {color:#09F;text-decoration:underline;}
#submenu-bar li span {
	font-weight:bold;
}

/* Search Bar */
#search-bar {
	/* visibility:hidden; */
	position:relative;
	padding:3px 0 0 10px;
	margin-bottom:5px;
	z-index:2;
	background:#f8f8f8;
	border-bottom:1px solid #ccc;
}
#search-bar-title {
	font:bold 16px Arial, Helvetica, sans-serif;
	display:block;
	float:left;
}
#search-bar form {display:inline;}
#search-bar form a.x2-button {float:none;}
#search-bar a.x2-button {float:right;}
#search-bar-box {
	max-width:280px;
	min-width:280px;
	margin:2px;
	padding:4px 5px 5px 5px;
	border:1px solid #ddd;
	background:#f0f0f0;
	font-size:12px;
	color:#aaa;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-o-border-radius:4px;
}


body { background:#fff; }
div.width-constraint {position:relative;width:auto;min-width:760px;}
#page-body {
	min-width:960px;
	margin:0;
	padding:0 0 10px 0;
	background:#fff;
	border:none;
	border-radius:			0;
	-moz-border-radius:		0;
	-webkit-border-radius:	0;
	-o-border-radius:		0;
}
#main-menu-bar {
	border-radius:			0;
	-moz-border-radius:		0;
	-webkit-border-radius:	0;
	-o-border-radius:		0;
}
#page-body.no-widgets {min-width:760px;}

#flexible-content { min-height:550px; padding-right:10px; overflow:auto; zoom:1; }
#content-container { overflow:auto; zoom:1; }
#page-body.no-widgets #content-container { padding-right:0; }
#header { clear:both; }
#main-menu-bar {  }
#sidebar-left-container { }
#sidebar-right {
	width:22%;
	padding:0;
	float:right;
	background:#fff;
}
#page-body.no-widgets #sidebar-right {
	display:none;
}
#page-body.no-widgets #content {margin:0;}
#content {
	margin:0 10px 0 0;
	padding:0 0  0 0;
	background:#fff;
	overflow:hidden;
}
#footer {
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
	color:#999;
	clear:both;
	background: #000; /* Old browsers */
	background: -moz-linear-gradient(top, #000 0%, #2d2d2d 4%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(4%,#2d2d2d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(top, #000 0%,#2d2d2d 4%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}