/* line 1, ../../../compass/themes/x2engine/css/tinyeditor.scss */
textarea.tetextarea {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
  font: 14px 'Courier New',Verdana;
  border: 0;
}

/* line 9, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tinyeditor {
  border: 1px solid #bbb;
  padding: 0 1px 1px;
  font: 12px Verdana,Arial;
  margin-bottom: 10px;
}
/* line 14, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tinyeditor iframe {
  border: none;
}

/* line 19, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.teheader {
  height: 31px;
  border-bottom: 1px solid #bbb;
  background: url(../images/tinyeditor/header-bg.gif) repeat-x;
  padding-top: 1px;
}
/* line 24, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.teheader select {
  float: left;
  margin-top: 5px;
}

/* line 30, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tefont {
  margin-left: 12px;
}

/* line 34, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tesize {
  margin: 0 3px;
}

/* line 38, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.testyle {
  margin-right: 12px;
}

/* line 42, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tedivider {
  float: left;
  width: 1px;
  height: 30px;
  background: #ccc;
}

/* line 49, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tecontrol {
  float: left;
  width: 34px;
  height: 30px;
  cursor: pointer;
  background-image: url(../images/tinyeditor/icons.png);
}
/* line 55, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tecontrol:hover {
  background-color: #fff;
  background-position: 30px 0;
}

/* line 61, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tefooter {
  height: 32px;
  border-top: 1px solid #bbb;
  background: #f5f5f5;
}

/* line 67, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tetoggle {
  float: left;
  background: url(../images/tinyeditor/icons.png) -34px 2px no-repeat;
  padding: 9px 13px 0 31px;
  height: 23px;
  border-right: 1px solid #ccc;
  cursor: pointer;
  color: #666;
}
/* line 75, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.tetoggle:hover {
  background-color: #fff;
}

/* line 80, ../../../compass/themes/x2engine/css/tinyeditor.scss */
.teresize {
  float: right;
  height: 32px;
  width: 32px;
  background: url(../images/tinyeditor/resize.gif) 15px 15px no-repeat;
  cursor: s-resize;
}

/* line 88, ../../../compass/themes/x2engine/css/tinyeditor.scss */
#editor {
  cursor: text;
  margin: 10px;
}
