x2engine/nbproject/
/x2engine/android-release.apk
/x2engine/x2WebTrackingTestPages/
/x2engine/protected/runtime/
/x2engine/assets/
/x2engine/webConfig.php
/x2engine/webLeadConfig.php
/x2engine/compass/.sass-cache
/x2engine/protected/config/X2Config-test.php
/x2engine/protected/config/googleApiKey.php
/x2engine/protected/commands/DummyCommand.php
/x2engine/protected/commands/ScratchPadCommand.php
/x2engine/protected/commands/ScaleDatabaseCommand.php
/x2engine/protected/commands/LoadFixturesCommand.php
/x2engine/protected/tests/api/Api2TestInternal.php
/x2engine/protected/tests/composer.lock
/x2engine/protected/tests/vendor/
/x2engine/protected/tests/phpunit.xml
/x2engine/protected/tests/WebTestConfig.php
/x2engine/protected/tests/api/Api2TestInternal.php
/x2engine/protected/tests/fixtures/x2_credentials-local.php
/x2engine/protected/tests/fixtures/x2_credentials_default-local.php
/x2engine/protected/tests/fixtures/x2_flows.X2FlowRecordEmailTest.php
*.swp
*.bak
*~
/x2engine/themes/x2engine/compass/.sass-cache
/x2engine/.sass-cache
/x2engine/protected/integration/Google/googlePlusCreds.php
/x2engine/protected/TestRunnerCommand.log
/x2engine/protected/commands/TestRunnerCommand.php
/logs
/.tags
/x2engine/nbproject/private/
