/* Class names prefixes */
$app-prefix:        'gjs-' !default;

/* Colors / Theme */

$mainColor:         #373d49 !default;
$fontColor:         #a0aabf !default;
$active-color:      #35d7bb !default;
$tag-color:         #4c9790 !default;
