div.x2-chart-container-large
		{
			width: 100%;
			height: 600px;
		}
div.x2-chart-container
		{
			width: 100%;
			height: 300px;
		}
div.x2-chart-container-controls
		{
			width: 100%;
			height: 30px;
			border: 3px dashed gainsboro;
		}
div.x2-chart-container-left
		{
			width: 45%;
			float:left;
			height: 300px;
			border: 2px dashed gainsboro;
		}
div.x2-chart-container-right
		{
			width: 45%;
			float:right;
			height: 300px;
			border: 2px dashed gainsboro;
		}
div.x2-chart-container-center
		{
			width: 90%;
			margin:0px auto;
			height: 450px;
			border: 2px dashed gainsboro;
		}
div.x2-chart-container-center-large
		{
			width: 90%;
			margin:0px auto;
			height: 600px;
			border: 2px dashed gainsboro;
		}
.x2-chart
		{
			text-align:left;
			width: 100%;
			height: 100%;
		}
p.x2-chart-separator
		{
			clear:both;
		}
div.x2-chart-control LABEL,
div.x2-chart-control SPAN,
div.x2-chart-control INPUT {
    display: inline !important;
    width: auto !important;
	height:20px !important;
	font-size:14px !important;
}