<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

	<selenium>
		<!--<browser name="Firefox" browser="*firefox" host="127.0.0.1" port="4444" timeout="30000" />-->
		<browser name="Chrome" browser="*googlechrome" host="127.0.0.1" port="4444" timeout="30000" />
		<!--<browser name="Safari" browser="*safari" host="192.168.1.123" port="4444" timeout="30000" />-->
		<!--<browser name="Internet Explorer" browser="*iexplore" host="192.168.1.121" port="4444" timeout="30000" />-->
		<!--<browser name="Internet Explorer" browser="*iexplore" host="192.168.1.195" port="4444" timeout="30000" />-->
		<!--<browser name="Opera" browser="*opera" host="192.168.1.121" port="4444" timeout="30000" />-->
	</selenium>

</phpunit>
