/* line 1, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 3, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar {
  color: #000;
  background: #FFF;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
  list-style: none;
  list-style-type: none;
  color: #424242;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 20px;
  display: block;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  width: 190px;
  line-height: 24px;
  background: #192839;
}
/* line 28, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar div, #yii-debug-toolbar span, #yii-debug-toolbar applet, #yii-debug-toolbar object, #yii-debug-toolbar iframe, #yii-debug-toolbar h1, #yii-debug-toolbar h2, #yii-debug-toolbar h3, #yii-debug-toolbar h4, #yii-debug-toolbar h5, #yii-debug-toolbar h6, #yii-debug-toolbar p, #yii-debug-toolbar blockquote, #yii-debug-toolbar pre, #yii-debug-toolbar a, #yii-debug-toolbar abbr, #yii-debug-toolbar acronym, #yii-debug-toolbar address, #yii-debug-toolbar big, #yii-debug-toolbar cite, #yii-debug-toolbar code, #yii-debug-toolbar del, #yii-debug-toolbar dfn, #yii-debug-toolbar em, #yii-debug-toolbar font, #yii-debug-toolbar img, #yii-debug-toolbar ins, #yii-debug-toolbar kbd, #yii-debug-toolbar q, #yii-debug-toolbar s, #yii-debug-toolbar samp, #yii-debug-toolbar small, #yii-debug-toolbar strike, #yii-debug-toolbar strong, #yii-debug-toolbar sub, #yii-debug-toolbar sup, #yii-debug-toolbar tt, #yii-debug-toolbar var, #yii-debug-toolbar b, #yii-debug-toolbar u, #yii-debug-toolbar i, #yii-debug-toolbar center, #yii-debug-toolbar dl, #yii-debug-toolbar dt, #yii-debug-toolbar dd, #yii-debug-toolbar ol, #yii-debug-toolbar ul, #yii-debug-toolbar li, #yii-debug-toolbar fieldset, #yii-debug-toolbar form, #yii-debug-toolbar label, #yii-debug-toolbar legend, #yii-debug-toolbar table, #yii-debug-toolbar caption, #yii-debug-toolbar tbody, #yii-debug-toolbar tfoot, #yii-debug-toolbar thead, #yii-debug-toolbar tr, #yii-debug-toolbar th, #yii-debug-toolbar td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
  list-style: none;
  list-style-type: none;
  color: #424242;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 20px;
}

/* line 17, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 43, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 49, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar-switcher {
  display: block;
  position: fixed;
  z-index: 1000000;
  top: 5px;
  right: 5px;
  bottom: 0;
  height: 28px;
  width: 28px;
  line-height: 28px;
}
/* line 59, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar-switcher a {
  background: transparent url(panel.png) no-repeat scroll center center;
  text-indent: -999999px;
  z-index: 100000000;
  display: block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  padding: 4px 0 0 4px;
}
/* line 68, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar-switcher a.close {
  background: transparent url(panel-close.png) no-repeat scroll center center;
}

/* line 53, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 62, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 69, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 81, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar p {
  padding: 5px 0;
}
/* line 84, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 50px;
}
/* line 89, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar h4 {
  margin: 0.8em 0 0 0;
  color: #313131;
  font-size: 18px;
}
/* line 94, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons {
  opacity: 0.9;
}
/* line 96, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 100, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons ul li {
  color: #fff;
  display: block;
  font-weight: bold;
  float: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: auto;
}
/* line 113, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons li > a, #yii-debug-toolbar #yii-debug-toolbar-buttons li > div.contentless {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 10px 10px 5px 25px;
}
/* line 123, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons li a:hover {
  background-color: #FFFFCC;
  color: #000;
}
/* line 128, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons small {
  color: #999;
}
/* line 131, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons li small {
  font-size: 12px;
  color: #999;
  font-style: normal;
  text-decoration: none;
  font-variant: small-caps;
}
/* line 138, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons .yii-debug-toolbar-button.active {
  background: #474747 url(indicator.png) no-repeat 0 50%;
  color: #fff;
}
/* line 141, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #yii-debug-toolbar-buttons .yii-debug-toolbar-button.active a:hover {
  background: #474747 url(indicator.png) no-repeat 0 50%;
  color: #fff;
}
/* line 147, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel {
  display: block;
  position: fixed;
  z-index: 10000000;
  top: 0px;
  right: 190px;
  left: 0;
  bottom: 0;
  background: #EEEEEE;
}
/* line 157, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-title {
  position: absolute;
  background-color: #ffc;
  color: #666;
  padding-left: 20px;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
}
/* line 166, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-title .yii-debug-toolbar-panel-close {
  text-indent: -9999999px;
  display: block;
  position: absolute;
  top: 4px;
  right: 15px;
  height: 40px;
  width: 40px;
  background: url(close.png) no-repeat center center;
}
/* line 175, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-title .yii-debug-toolbar-panel-close:hover {
  background-image: url(close_hover.png);
}
/* line 180, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel {
  display: none;
}
/* line 183, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content {
  display: block;
  position: fixed;
  margin: 0;
  top: 50px;
  right: 210px;
  bottom: 0;
  left: 0px;
  background-color: #eee;
  color: #666;
  z-index: 100000000;
}
/* line 194, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content .details {
  padding-left: 1em;
}
/* line 197, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content ul.yii-debug-toolbar-tabs {
  list-style: none;
  list-style-type: none;
  padding: 0 20px;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #ccc;
}
/* line 203, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content ul.yii-debug-toolbar-tabs li {
  display: inline-block;
}
/* line 205, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content ul.yii-debug-toolbar-tabs li.active {
  border: 1px solid #ccc;
  margin-bottom: -1px;
  border-bottom: 1px solid #eee;
}
/* line 210, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content ul.yii-debug-toolbar-tabs li a {
  display: block;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}
/* line 215, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content ul.yii-debug-toolbar-tabs li a:hover {
  text-decoration: none;
}
/* line 219, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content ul.yii-debug-toolbar-tabs li.active a {
  text-decoration: none;
}
/* line 224, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content .scroll {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  padding: 0 10px;
}
/* line 231, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content table, #yii-debug-toolbar .yii-debug-toolbar-panel-content tr, #yii-debug-toolbar .yii-debug-toolbar-panel-content th, #yii-debug-toolbar .yii-debug-toolbar-panel-content td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
/* line 235, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content table {
  width: 100%;
  background-color: #fff;
  margin-top: 0.8em;
  overflow: auto;
}
/* line 240, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content table thead tr {
  background: #F5F5F5;
}
/* line 244, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content td {
  font-size: 12px;
  vertical-align: top;
  padding: 8px 10px;
}
/* line 249, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content th {
  font-size: 12px;
  vertical-align: top;
  padding: 8px 10px;
  font-weight: bold;
}
/* line 256, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content tbody tr:hover {
  background-color: #FFFFCC;
}
/* line 259, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content tbody tr.selected {
  background-color: #e5e5e5;
}
/* line 261, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content tbody tr.selected:hover {
  background-color: #EEEEBB;
}
/* line 266, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content td.al-l, #yii-debug-toolbar .yii-debug-toolbar-panel-content th.al-l {
  text-align: left;
}
/* line 269, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content td.al-c, #yii-debug-toolbar .yii-debug-toolbar-panel-content th.al-c {
  text-align: center;
}
/* line 272, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content td.al-r, #yii-debug-toolbar .yii-debug-toolbar-panel-content th.al-r {
  text-align: right;
  text-align: right;
}
/* line 276, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content table.phpinfo th {
  text-align: left;
  color: black;
  font-size: 14px;
  border-bottom: 1px solid #CCCCCC;
  background: #F5F5F5;
}
/* line 283, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content .odd {
  background-color: #f5f5f5;
}
/* line 286, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .yii-debug-toolbar-panel-content .warning {
  background-color: #FFEEEE;
}
/* line 290, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .hidden {
  display: none;
}
/* line 293, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .collapsible {
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
  background: transparent url("bullet_toggle_minus.png") no-repeat scroll 100% 50%;
}
/* line 298, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar p.collapsible {
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
  background: none;
  background: transparent url("arrow_expand.gif") no-repeat scroll 0% 50%;
  padding: 0 0 0 20px;
}
/* line 305, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .collapsible.collapsed {
  background: transparent url("bullet_toggle_plus.png") no-repeat scroll 100% 50%;
}
/* line 308, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar p.collapsible.collapsed {
  background: transparent url("arrow_collapse.gif") no-repeat scroll 0% 50%;
}
/* line 311, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar .text-right {
  text-align: right;
}
/* line 314, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar pre {
  padding: 0;
}
/* line 316, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar pre code {
  padding: 0;
}

/* line 72, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 77, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 82, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 84, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 88, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 101, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 111, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 116, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 119, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 126, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 129, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 135, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 145, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 154, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 163, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 168, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 171, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 182, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 185, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 191, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 193, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 198, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 203, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 207, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 212, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 219, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 223, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 228, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 232, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 237, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 244, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 247, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 249, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 254, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 257, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 260, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 264, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 271, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 274, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 278, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 281, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 286, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 293, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 296, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 299, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 302, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 304, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* tabs */
/* tabs */
/* line 314, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 420, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar-sql-callstack tbody td, #yii-debug-toolbar-sql-summary tbody td {
  font-family: monospace;
}

/* line 319, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 427, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar div.col {
  width: 49%;
}
/* line 430, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar div.left {
  float: left;
}
/* line 433, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar div.right {
  float: right;
}

/* line 322, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 325, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/*highlight*/
/* line 332, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 445, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-default {
  color: Black !important;
}

/* line 336, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 451, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-code {
  color: Gray !important;
}

/* line 340, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 457, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-brackets {
  color: Olive !important;
}

/* line 344, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 463, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-comment {
  color: #808080 !important;
  font-style: italic !important;
}

/* line 349, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 470, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-quotes {
  color: red !important;
}

/* line 353, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 476, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-string {
  color: Red !important;
}

/* line 357, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 482, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-identifier {
  color: Blue !important;
}

/* line 361, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 488, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-builtin {
  color: Teal !important;
}

/* line 365, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 494, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-reserved {
  color: Green !important;
}

/* line 369, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 500, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-inlinedoc {
  color: Blue !important;
}

/* line 373, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 506, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-var {
  color: #000020 !important;
}

/* line 377, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 512, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-url {
  color: Blue !important;
}

/* line 381, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 518, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-special {
  color: Navy !important;
}

/* line 385, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 524, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-number {
  color: Maroon !important;
}

/* line 389, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 530, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-inlinetags {
  color: Blue !important;
}

/* line 393, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 536, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-main {
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: normal !important;
}

/* line 398, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 543, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-gutter {
  background-color: #cccccc !important;
  color: White;
  width: 10px;
}

/* line 404, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 551, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.sql-hl-table {
  font-family: courier !important;
  font-size: 12px !important;
  border: solid 1px #cccccc !important;
  margin: 3px !important;
}

/* line 412, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 561, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.source .copycode {
  text-align: right !important;
  float: right !important;
}
/* line 564, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.source .copycode a {
  cursor: pointer !important;
  color: blue !important;
}
/* line 569, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
.source .copycode_hover a {
  color: red !important;
}

/* line 415, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 420, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 425, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 580, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage {
  border-top: 1px double #EEEEEE;
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 190px;
}
/* line 586, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage h1 {
  padding: 0;
  margin: 0;
  color: #EEEEEE;
  font-weight: bold;
  background: transparent url(chronometer.png) no-repeat center right;
  margin: 5px 0;
}
/* line 594, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel {
  padding: 0 10px 10px;
}
/* line 596, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel ul {
  display: block;
  margin: 5px 0;
  padding-top: 10px;
}
/* line 601, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel li {
  display: block;
  line-height: 18px;
  height: 16px;
  clear: both;
}
/* line 607, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel ul {
  font-size: 9px;
  color: #fff;
}
/* line 611, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel li {
  font-size: 9px;
  color: #fff;
}
/* line 614, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel li label, #yii-debug-toolbar #resource-usage .panel li span {
  font-size: 9px;
  color: #fff;
}
/* line 618, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel li label {
  float: left;
}
/* line 621, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
#yii-debug-toolbar #resource-usage .panel li span {
  float: right;
  color: #C0695D;
}

/* line 431, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 439, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 441, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 446, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 452, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 456, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 459, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 463, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
/* line 466, ../../../../compass/sass/protected/extensions/yii-debug-toolbar/assets/yii.debugtoolbar.scss */
