.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font-size: 10px;
  font-weight: 300;
}

.axis path,
.axis line {
  fill: none;
  /*stroke: #000;*/
  stroke: none;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}