.loganalyzer {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.loganalyzer .page-header {
    padding-bottom: 17px;
    margin: 18px 0;
    border-bottom: 1px solid #EEE;
}
.loganalyzer .page-header h1 {
    line-height: 1;
}

.loganalyzer .nav {
    margin-bottom: 18px;
    margin-left: 0;
    list-style: none;
    height: 32px;
}

.loganalyzer ul, .loganalyzer ol {
    padding: 0;
    margin: 0 0 9px 25px;
    display: block;
}

.loganalyzer .label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.loganalyzer .label, .loganalyzer .badge {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    padding: 1px 4px 2px;
}
.loganalyzer .label-inverse, .loganalyzer .badge-inverse {
    background-color: #333;
}
.loganalyzer .label-important, .loganalyzer .badge-important {
    background-color: #B94A48;
}
.loganalyzer .label-warning, .loganalyzer .badge-warning {
    background-color: #F89406;
}
.loganalyzer .label-info, .loganalyzer .badge-info {
    background-color: #3A87AD;
}

.loganalyzer .line {
    border-bottom: 1px solid #EEE;
    padding: 9px 4px;
    background: #FAFAFA;
}

.loganalyzer .line.odd {
    background: #E0E0E0;
}

.loganalyzer pre {
    display: block;
    padding: 8.5px;
    margin: 9px 9px 9px;
    font-size: 12.025px;
    line-height: 18px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: whiteSmoke;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.loganalyzer code, .loganalyzer pre {
    padding: 0 3px 2px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.loganalyzer .nav-tabs > li, .loganalyzer .nav-pills > li {
    float: left;
}

.loganalyzer li {
    line-height: 18px;
}

.loganalyzer .nav-tabs > li > a, .loganalyzer .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.loganalyzer .nav > li > a {
    display: block;
}

.loganalyzer .nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.loganalyzer .nav-pills > .active > a, .loganalyzer .nav-pills > .active > a:hover {
    color: white;
    background-color: #08C;
}

.loganalyzer a {
    color: #08C;
    text-decoration: none;
}
.loganalyzer a:hover {
    color: #fff;
    text-decoration: underline;
}

.loganalyzer hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid white;
    clear: both;
}

.loganalyzer .log-actions-bar span.sep{
    margin: 0 9px;
}

@media (min-width: 1200px) {
    .loganalyzer .row-fluid::before, .loganalyzer .row-fluid::after {
        display: table;
        content: "";
    }
}
